<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cadastro de Candidato - Meus Pedidos</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/xeditable.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script> 
    <script src="js/xeditable.min.js"></script> 
    <script src="js/adminApp.js"></script> 
    <script src="js/controllers/adminController.js"></script> 
    <script src="js/services/adminService.js"></script> 
    <script src="js/jquery.min.js"></script>
    <style>
    	body { padding-top: 60px; }
		#loading {
		    position:   fixed;
		    z-index:    1000;
		    top:        0;
		    left:       0;
		    height:     100%;
		    width:      100%;
		    background: rgba( 255, 255, 255, .8 ) 
		                url('images/loading.gif') 
		                50% 50% 
		                no-repeat;
		}

		/* When the body has the loading class, we turn
		   the scrollbar off with overflow:hidden */
		body.loading {
		    overflow: hidden;   
		}
    </style>
  </head>
	<body ng-app="adminApp">
		<div class="container-fluid">
			<div>
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
							<div class="container">
								<div class="navbar-header">
									<a class="navbar-brand" href="#">Meus Pedidos</a>
								</div>
								
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="active">
											<a href="#">Admin</a>
										</li>
									</ul>
									<form class="navbar-form navbar-left" role="search">
								      <div class="form-group">
								        <input ng-model="query" type="text" class="form-control" placeholder="Buscar...">
								      </div>
								    </form>

									<ul class="nav navbar-nav navbar-right">
										<li class="dropdown">
											 <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i><strong class="caret"></strong></a>
											<ul class="dropdown-menu">
												<li>
													<a ng-href="admin">Admin</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						
						<div ng-controller="adminController"> 
							<div ng-show="loading" id="loading"></div> 
							<div class="col-md-10 col-md-offset-1" >
						    <div class="car"  ng-hide="loading">
						        <table class="table table-hover">
						            <thead>
						                <tr>
						                  <th>#</th>
						                  <th>Nome</th>
						                  <th>Email</th>
						                  <th>HTML</th>
						                  <th>CSS</th>
						                  <th>JS</th>
						                  <th>Python</th>
						                  <th>Django</th>
						                  <th>iOS</th>
						                  <th>Android</th>
						                  <th>Ação</th>
						                </tr>
						            </thead>
						            <tbody>
						                <tr  ng-repeat="form in forms">
						                  <td>{{ form.id }}</td>
						                  
						                  <td>  
						                    <span  editable-text="form.nome" e-name="nome" e-form="rowform" e-required>
						                    	{{ form.nome || 'Não informado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-text="form.email" e-name="email" e-form="rowform" e-required>
						                      {{ form.email || 'Não informado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.html" e-name="html" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.html || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.css" e-name="css" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.css || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.javascript" e-name="javascript" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.javascript || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.python" e-name="python" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.python || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.django" e-name="django" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.django || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.ios" e-name="ios" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.ios || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td>
						                    <span editable-select="form.android" e-name="android" e-form="rowform" e-required e-ng-options="i as i for i in [1,2,3,4,5,6,7,8,9,10]">
						                      {{ form.android || 'Não selecionado' }}
						                    </span>
						                  </td>
						                  <td style="width:15%"> 
						                    <form editable-form name="rowform" onbeforesave="editForm($data, form.id)" ng-show="rowform.$visible" class="btn-sm form-buttons form-inline" >
						                    <div> 
						                      <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-ok"></i></button>
						                      <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn-sm btn btn-default"><i class="glyphicon glyphicon-remove"></i></button>
						                    </div>
						                    </form>
						                    <div class="buttons" ng-show="!rowform.$visible">
						                      <button class="btn btn-primary btn-sm" ng-click="rowform.$show()"><i class="glyphicon glyphicon-edit"></i></button>
						                      <a ng-show="!rowform.$visible" href="#" ng-click="deleteForm(form.id)" type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></a>
						                    </div>  
						                    </td>
						                </tr>
						              </tbody>
						        </table>
						    </div>
						    <div ng-show="pagination">
						        <posts-pagination></posts-pagination>
						    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
