<div ng-controller="formController"> 
	<div ng-show="loading" id="loading"></div> 
	<div class="col-md-8 col-md-offset-2 "  >
		<div ng-show="success"  class="alert alert-success" role="alert">
	    	<strong>Pronto!</strong> Seus dados foram enviados com sucesso! Entraremos em contato em breve, obrigado!
	    </div>
		<div ng-show="errors.notification"  class="alert alert-danger" role="alert">
	    	<strong>Ops!</strong> Ocorreu um erro ao enviar seu formulário!
	    </div>
		<h2>
			Olá, candidato!
		</h2>
		<p>
			<span>Em primeiro lugar, quero agradecer pelo seu interesse na vaga! Gostamos do seu currículo e queremos conhecer um pouco mais sobre você, por gentileza avalie seu conhecimento nos itens baixo, assinalando de 0 (não conheço) até 10 (sou foda):</span>
		</p>
		
		<form role="form" name="formForm" ng-submit="submitForm()">
			<div class="form-group" ng-class="{'has-error': errors.nome[0]}">
				<label class="control-label" for="nome">
					Nome:
				</label>
				<input ng-model="formData.nome" name="nome" class="form-control" id="nome" required>
				<span class="help-block" ng-show="errors.nome[0]">{{ errors.nome.toString()}}</span>
			</div>
			<div class="form-group" ng-class="{'has-error': errors.email[0]}">
				<label class="control-label" for="email">
					Email:
				</label>
				<input ng-model="formData.email" name="email" class="form-control" id="email" required>
				<span class="help-block" ng-show="errors.email[0]">{{ errors.email.toString()}}</span>

			</div>
			<div class="form-group">
				<label for="html">
					HTML:
				</label>
				<select ng-model="formData.html" id="html" name="html" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="css">
					CSS
				</label>
				<select ng-model="formData.css" id="css" name="css" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="javascript">
					JavaScript
				</label>
				<select ng-model="formData.javascript" id="javascript" name="javascript" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="python">
					Python
				</label>
				<select ng-model="formData.python" id="python" name="python" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="django">
					Django
				</label>
				<select ng-model="formData.django" id="django" name="django" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="ios">
					Desenvolvimento iOS
				</label>
				<select ng-model="formData.ios" id="ios" name="ios" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<div class="form-group">
				<label for="android">
					Desenvolvimento Android
				</label>
				<select ng-model="formData.android" id="android" name="android" class="form-control">
					<option value="">Selecione uma nota</option>
			      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
			    </select>
			</div>
			<button type="submit" class="btn btn-default">
				Enviar
			</button>
		</form>
	</div>
</div>