<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cadastro de Candidato - Meus Pedidos</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script> 
    <script src="js/app.js"></script> 
    <script src="js/controllers/formController.js"></script> 
    <script src="js/services/formService.js"></script> 
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
    	body { padding-top: 60px; }
		#loading {
		    position:   fixed;
		    z-index:    1000;
		    top:        0;
		    left:       0;
		    height:     100%;
		    width:      100%;
		    background: rgba( 255, 255, 255, .8 ) 
		                url('images/loading.gif') 
		                50% 50% 
		                no-repeat;
		}

		/* When the body has the loading class, we turn
		   the scrollbar off with overflow:hidden */
		body.loading {
		    overflow: hidden;   
		}
    </style>

  </head>
	<body ng-app="mpApp">
		<div class="container-fluid">
			<div>
				<div class="row">
					<div class="col-md-12">
						<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
							<div class="container">
								<div class="navbar-header">
									<a class="navbar-brand" href="#">Meus Pedidos</a>
								</div>
								
								<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav">
										<li class="active">
											<a href="#">Formulário</a>
										</li>
									</ul>

									<ul class="nav navbar-nav navbar-right">
										<li class="dropdown">
											 <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i><strong class="caret"></strong></a>
											<ul class="dropdown-menu">
												<li>
													<a ng-href="admin">Admin</a>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						<div ng-controller="formController"> 
							<div ng-show="loading" id="loading"></div> 
							<div class="col-md-8 col-md-offset-2 "  >
								<div ng-show="success"  class="alert alert-success" role="alert">
							    	<strong>Pronto!</strong> Seus dados foram enviados com sucesso! Entraremos em contato em breve, obrigado!
							    </div>
								<div ng-show="errors.notification"  class="alert alert-danger" role="alert">
							    	<strong>Ops!</strong> Ocorreu um erro ao enviar seu formulário!
							    </div>
								<h2>
									Olá, candidato!
								</h2>
								<p>
									<span>Em primeiro lugar, quero agradecer pelo seu interesse na vaga! Gostamos do seu currículo e queremos conhecer um pouco mais sobre você, por gentileza avalie seu conhecimento nos itens baixo, assinalando de 0 (não conheço) até 10 (sou foda):</span>
								</p>
								
								<form role="form" name="formForm" ng-submit="submitForm()">
									<div class="form-group" ng-class="{'has-error': errors.nome[0]}">
										<label class="control-label" for="nome">
											Nome:
										</label>
										<input ng-model="formData.nome" name="nome" class="form-control" id="nome" required>
										<span class="help-block" ng-show="errors.nome[0]">{{ errors.nome.toString()}}</span>
									</div>
									<div class="form-group" ng-class="{'has-error': errors.email[0]}">
										<label class="control-label" for="email">
											Email:
										</label>
										<input ng-model="formData.email" name="email" class="form-control" id="email" required>
										<span class="help-block" ng-show="errors.email[0]">{{ errors.email.toString()}}</span>

									</div>
									<div class="form-group">
										<label for="html">
											HTML:
										</label>
										<select ng-model="formData.html" id="html" name="html" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="css">
											CSS
										</label>
										<select ng-model="formData.css" id="css" name="css" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="javascript">
											JavaScript
										</label>
										<select ng-model="formData.javascript" id="javascript" name="javascript" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="python">
											Python
										</label>
										<select ng-model="formData.python" id="python" name="python" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="django">
											Django
										</label>
										<select ng-model="formData.django" id="django" name="django" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="ios">
											Desenvolvimento iOS
										</label>
										<select ng-model="formData.ios" id="ios" name="ios" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<div class="form-group">
										<label for="android">
											Desenvolvimento Android
										</label>
										<select ng-model="formData.android" id="android" name="android" class="form-control">
											<option value="">Selecione uma nota</option>
									      <option ng-repeat="i in [0,1,2,3,4,5,6,7,8,9,10]" value="{{i}}" >{{i}}</option>
									    </select>
									</div>
									<button type="submit" class="btn btn-default">
										Enviar
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>